.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 9rem;
  h1 {
    font-size: 40px;
    color: #946cee;
    cursor: pointer;
    font-weight: 700;
  }
  .links {
    list-style-type: none;
    display: flex;
    li {
      margin: 0 2rem;
      font-weight: 700;
      font-size: 25px;
      cursor: pointer;
    }
    .signin {
      color: #946cee;
    }
    @media screen and (max-width: 1000px) {
      display: none;
    }
  }
  .mobile_nav_icon {
    cursor: pointer;
    padding-top: 10px;
    font-size: 30px;
    display: none;
    @media screen and (max-width: 1000px) {
      display: block;
    }
  }
  .navMenu {
    padding: 10px;
    border: 1px solid grey;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: fixed;
    background-color: white;
    z-index: 1;
    height: 100vh;
    top: 0;
    right: 0;
    width: 0;
    .close_icon {
      font-size: 25px;
      top: 1rem;
      color: #946cee;
      cursor: pointer;
    }
    .mobile_links {
      list-style-type: none;
      margin: 3rem 0;
      li {
        cursor: pointer;
        margin: 1rem;
        font-size: 25px;
        .mobile_signin {
          color: #946cee;
        }
      }
    }
  }

  .showMenu {
    width: 330px;
    right: 0;
  }
  @media screen and (max-width: 1000px) {
    padding: 1rem;
  }
}
